
$TTL 14400
@	IN	SOA     ns1.domain.com.      hostmaster.domain.com. (
                                                2016051319
                                                14400
                                                3600
                                                1209600
                                                86400 )

domain.com.    14400   IN	NS	ns1.domain.com.
domain.com.    14400   IN	NS	ns2.domain.com.

domain.com.     14400   IN	A	127.0.0.1

ns1             14400   IN	A	127.0.0.1
ns2             14400   IN	A	127.0.0.1
www             14400   IN	A	127.0.0.1

